
<footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>CUSTOMER SERVICE</h6>
                    <ul class="list-unstyled mt-4">
                        <li><a class="text-black-50" href="">Help & Contact Us</a></li>
                        <li><a class="text-black-50" href="">Returns & Refunds</a></li>
                        <li><a class="text-black-50" href="">Online Stores</a></li>
                        <li><a class="text-black-50" href="">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>COMPANY</h6>
                    <ul class="list-unstyled mt-4">
                        <li><a class="text-black-50" href="">About Us</a></li>
                        <li><a class="text-black-50" href="">Blog</a></li>
                        <li><a class="text-black-50" href="">Order Tracking</a></li>
                        <li><a class="text-black-50" href="">FAQ Page</a></li>
                        <li><a class="text-black-50" href="">Contact Us</a></li>
                        <li><a class="text-black-50" href="">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>SOCIAL MEDIA</h6>
                    <ul class="list-unstyled mt-4">
                        <li><a class="text-black-50" href="">Twitter</a></li>
                        <li><a class="text-black-50" href="">Instagram</a></li>
                        <li><a class="text-black-50" href="">Tumblr</a></li>
                        <li><a class="text-black-50" href="">Pinterest</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>ARCHIVE</h6>
                    <ul class="list-unstyled mt-4">
                        <li><a class="text-black-50" href="">Designer Shoes</a></li>
                        <li><a class="text-black-50" href="">Gallery</a></li>
                        <li><a class="text-black-50" href="">Pricing</a></li>
                        <li><a class="text-black-50" href="">Feature Index</a></li>
                        <li><a class="text-black-50" href="">Login</a></li>
                        <li><a class="text-black-50" href="">Help & Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row py-2">
            <div class=" col-lg-4 text-center text-lg-left">
                <p class="text-black-50">
                    Powered by <a class="author text-muted"
                                  href="https://www.bakhtiyar.az">Bakhtiyar Shamilzada</a> 2020
                </p>
            </div>
            <div class=" col-lg-4 text-center">
                <img src="~/img/footer-bottom-1.png" class="fluid" alt="">
            </div>
            <div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
                <a class="text-black-50 mr-5"
                   href="https://www.linkedin.com/in/bakhtiyar-shamilzada-145159185/">LINKEDIN</a>
                <a class="text-black-50" href="https://www.facebook.com/shamilzada.bakhtiyar">FACEBOOK</a>
            </div>
        </div>
    </div>
</footer>
