@model Dictionary<string,string>

<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg d-flex d-lg-block justify-content-between d-xl-flex navbar-light py-3 py-lg-0">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/img/@Model["header_logo"]" alt="" id="logo">
                        <p>@Model["phone"]</p>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
                        <span class="navbar-toggler-icon" style="font-size: 12px;"></span>
                    </button>

                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="">Home 1</a></li>
                                    <li class=""><a class="px-1" href="">Home 2</a></li>
                                    <li class=""><a class="px-1" href="">Home 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pages</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="">Page 1</a></li>
                                    <li class=""><a class="px-1" href="">Page 2</a></li>
                                    <li class=""><a class="px-1" href="">Page 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item shop-li">
                                <a class="nav-link" href="#">Shop</a>
                                <div class="container">
                                    <div class="row shop py-5">
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Product Types</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" asp-controller="Product" asp-action="Index">My Product</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Pages</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="">Shop Pages 1</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Pages 2</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Pages 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Types</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="">Shop Types 1</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Types 2</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Types 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Layouts</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="">Shop Layouts 1</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Layouts 2</a></li>
                                                    <li class=""><a class="px-3" href="">Shop Layouts 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="">Portfolio 1</a></li>
                                    <li class=""><a class="px-1" href="">Portfolio 2</a></li>
                                    <li class="">
                                        <a class="px-1 mr-5" href="">Portfolio 3</a>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="">Shop Layouts 1</a></li>
                                            <li class=""><a class="px-3" href="">Shop Layouts 2</a></li>
                                            <li class=""><a class="px-3" href="">Shop Layouts 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="">Blog 1</a></li>
                                    <li class=""><a class="px-1" href="">Blog 2</a></li>
                                    <li class="">
                                        <a class="px-1 mr-5" href="">Blog 3</a>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="">Blog Layouts 1</a></li>
                                            <li class=""><a class="px-3" href="">Blog Layouts 2</a></li>
                                            <li class=""><a class="px-3" href="">Blog Layouts 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Elements</a>
                                <ul class="list-unstyled py-3 elements">
                                    <li class=""><a class="px-1" href="">Element 1</a></li>
                                    <li class=""><a class="px-1" href="">Element 2</a></li>
                                    <li class="element">
                                        <i class="fas fa-chevron-right fa-sm mr-5"></i>
                                        <a class="px-1" href="">Element 3</a>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="">Element 1</a></li>
                                            <li class=""><a class="px-3" href="">Element 2</a></li>
                                            <li class=""><a class="px-3" href="">Element 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item my-auto search">
                                <i class="fas fa-search" id="search"></i>
                                <ul class="list-unstyled py-3">
                                    <li class="d-flex px-3">
                                        <input id="input-search" type="text" placeholder="Search">
                                        <i class="fas fa-search my-auto" id="search"></i>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item my-auto shop-cart">
                                <i id="basket_click" class="fas fa-shopping-bag"></i>
                                <sup class="rounded-circle">@ViewBag.BasketItemCount</sup>
                                <span><a asp-controller="Product" asp-action="Basket">CART ($0)</a></span>
                                
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        <div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
            <i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
            <ul class="list-unstyled">
                <li><a href="#">Home <i class="fas fa-caret-right fa-sm"></i></a></li>
                <ul class="list-unstyled">
                    <li class=""><a class="px-1" href="">Home 1</a></li>
                    <li class=""><a class="px-1" href="">Home 2</a></li>
                    <li class=""><a class="px-1" href="">Home 3</a></li>
                </ul>
                <li><a href="#">Pages <i class="fas fa-caret-right fa-sm"></i></a></li>
                <ul class="list-unstyled">
                    <li class=""><a class="px-1" href="">Page 1</a></li>
                    <li class=""><a class="px-1" href="">Page 2</a></li>
                    <li class=""><a class="px-1" href="">Page 3</a></li>
                </ul>
                <li><a href="#">Shop <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="#">Portfolio <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="#">Blog <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="#">Elements <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>

</header>