#experts
{
    .item
    {
        .text
        {
            h6
            {
                font-size: 12px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            p
            {
                font-size: 12px;
            }
        }
    }
}