
@{
    ViewData["Title"] = "ShopList";
}

<main>
    <section id="shop-list-title">
        <div class="container py-4">
            <div class="row py-5">
                <div class="col-12">
                    <h1>Shop List</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="shop-list">
        <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-14-img.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="overlay d-flex flex-column justify-content-center">
                            <div class="title mt-3">
                                <h6>MAJESTY PALM</h6>
                            </div>
                            <div class="price">
                                <span class="text-black-50">$259</span>
                            </div>
                            <div class="button mt-3">
                                <button class="btn btn-danger rounded-0">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-13-img.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="overlay d-flex flex-column justify-content-center">
                            <div class="title mt-3">
                                <h6>MAJESTY PALM</h6>
                            </div>
                            <div class="price">
                                <span class="text-black-50">$259</span>
                            </div>
                            <div class="button mt-3">
                                <button class="btn btn-danger rounded-0">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-12-img.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="overlay d-flex flex-column justify-content-center">
                            <div class="title mt-3">
                                <h6>MAJESTY PALM</h6>
                            </div>
                            <div class="price">
                                <span class="text-black-50">$259</span>
                            </div>
                            <div class="button mt-3">
                                <button class="btn btn-danger rounded-0">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-11-img.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="overlay d-flex flex-column justify-content-center">
                            <div class="title mt-3">
                                <h6>MAJESTY PALM</h6>
                            </div>
                            <div class="price">
                                <span class="text-black-50">$259</span>
                            </div>
                            <div class="button mt-3">
                                <button class="btn btn-danger rounded-0">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PRODUCTS START -->

    <section id="products">
        <div class="container">
            <div class="row py-5">
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-1.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>POPULAR</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-2.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>WINTER</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="winter">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-3.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>VARIOUS</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="winter">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-4.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>EXOTIC</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="various">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>GREENS</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="various">
                        <div class="img">
                            <a href="">
                                <img  src="~/img/shop-category-img-6.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>CACTUSES</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$259</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PRODUCTS END -->

</main>

