@model Slider
@{
    ViewData["Title"] = "Create";
}

<div class="card-body">
    <h4 class="card-title">Create Category</h4>
    <p class="card-description"> Basic form layout </p>
    <form class="forms-sample" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control" accept="image/*">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>

        <button type="submit" class="btn btn-primary me-2">Save</button>
        <button class="btn btn-dark" asp-action="Index">Cancel</button>
    </form>
</div>
