<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="~/img/favicon.png" sizes="192x192" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Fiorello &#8211; @ViewData["Title"]</title>
</head>

<body>

    <!-- HEADER START -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg d-flex d-lg-block justify-content-between d-xl-flex navbar-light py-3 py-lg-0">
                        <a class="navbar-brand" href="#">
                            <img src="~/img/logo.png" alt="" id="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
                            <span class="navbar-toggler-icon" style="font-size: 12px;"></span>
                        </button>

                        <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home</a>
                                    <ul class="list-unstyled py-3">
                                        <li class=""><a class="px-1" href="">Home 1</a></li>
                                        <li class=""><a class="px-1" href="">Home 2</a></li>
                                        <li class=""><a class="px-1" href="">Home 3</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pages</a>
                                    <ul class="list-unstyled py-3">
                                        <li class=""><a class="px-1" href="">Page 1</a></li>
                                        <li class=""><a class="px-1" href="">Page 2</a></li>
                                        <li class=""><a class="px-1" href="">Page 3</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item shop-li">
                                    <a class="nav-link" href="#">Shop</a>
                                    <div class="container">
                                        <div class="row shop py-5">
                                            <div class="col-lg-3">
                                                <div class="item px-4">
                                                    <h5>Product Types</h5>
                                                    <ul class="list-unstyled py-3">
                                                        <li class=""><a class="px-3" href="">Product Types 1</a></li>
                                                        <li class=""><a class="px-3" href="">Product Types 2</a></li>
                                                        <li class=""><a class="px-3" href="">Product Types 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="item px-4">
                                                    <h5>Shop Pages</h5>
                                                    <ul class="list-unstyled py-3">
                                                        <li class=""><a class="px-3" href="">Shop Pages 1</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Pages 2</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Pages 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="item px-4">
                                                    <h5>Shop Types</h5>
                                                    <ul class="list-unstyled py-3">
                                                        <li class=""><a class="px-3" href="">Shop Types 1</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Types 2</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Types 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="item px-4">
                                                    <h5>Shop Layouts</h5>
                                                    <ul class="list-unstyled py-3">
                                                        <li class=""><a class="px-3" href="">Shop Layouts 1</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Layouts 2</a></li>
                                                        <li class=""><a class="px-3" href="">Shop Layouts 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Portfolio</a>
                                    <ul class="list-unstyled py-3">
                                        <li class=""><a class="px-1" href="">Portfolio 1</a></li>
                                        <li class=""><a class="px-1" href="">Portfolio 2</a></li>
                                        <li class="">
                                            <a class="px-1 mr-5" href="">Portfolio 3</a>
                                            <i class="fas fa-chevron-right fa-sm"></i>
                                            <ul class="list-unstyled py-3">
                                                <li class=""><a class="px-3" href="">Shop Layouts 1</a></li>
                                                <li class=""><a class="px-3" href="">Shop Layouts 2</a></li>
                                                <li class=""><a class="px-3" href="">Shop Layouts 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog</a>
                                    <ul class="list-unstyled py-3">
                                        <li class=""><a class="px-1" href="">Blog 1</a></li>
                                        <li class=""><a class="px-1" href="">Blog 2</a></li>
                                        <li class="">
                                            <a class="px-1 mr-5" href="">Blog 3</a>
                                            <i class="fas fa-chevron-right fa-sm"></i>
                                            <ul class="list-unstyled py-3">
                                                <li class=""><a class="px-3" href="">Blog Layouts 1</a></li>
                                                <li class=""><a class="px-3" href="">Blog Layouts 2</a></li>
                                                <li class=""><a class="px-3" href="">Blog Layouts 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Elements</a>
                                    <ul class="list-unstyled py-3 elements">
                                        <li class=""><a class="px-1" href="">Element 1</a></li>
                                        <li class=""><a class="px-1" href="">Element 2</a></li>
                                        <li class="element">
                                            <i class="fas fa-chevron-right fa-sm mr-5"></i>
                                            <a class="px-1" href="">Element 3</a>
                                            <ul class="list-unstyled py-3">
                                                <li class=""><a class="px-3" href="">Element 1</a></li>
                                                <li class=""><a class="px-3" href="">Element 2</a></li>
                                                <li class=""><a class="px-3" href="">Element 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item my-auto search">
                                    <i class="fas fa-search" id="search"></i>
                                    <ul class="list-unstyled py-3">
                                        <li class="d-flex px-3">
                                            <input id="input-search" type="text" placeholder="Search">
                                            <i class="fas fa-search my-auto" id="search"></i>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item my-auto shop-cart">
                                    <i class="fas fa-shopping-bag"></i>
                                    <sup class="rounded-circle">0</sup>
                                    <span>CART ($0)</span>
                                    <ul class="list-unstyled py-3">
                                        <li class="">No products in the cart.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
            <div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
                <i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
                <ul class="list-unstyled">
                    <li><a href="#">Home <i class="fas fa-caret-right fa-sm"></i></a></li>
                    <ul class="list-unstyled">
                        <li class=""><a class="px-1" href="">Home 1</a></li>
                        <li class=""><a class="px-1" href="">Home 2</a></li>
                        <li class=""><a class="px-1" href="">Home 3</a></li>
                    </ul>
                    <li><a href="#">Pages <i class="fas fa-caret-right fa-sm"></i></a></li>
                    <ul class="list-unstyled">
                        <li class=""><a class="px-1" href="">Page 1</a></li>
                        <li class=""><a class="px-1" href="">Page 2</a></li>
                        <li class=""><a class="px-1" href="">Page 3</a></li>
                    </ul>
                    <li><a href="#">Shop <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                    <ul class="list-unstyled py-3">
                        <li class="">
                            <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                    </ul>
                    <li><a href="#">Portfolio <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                    <ul class="list-unstyled py-3">
                        <li class="">
                            <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                    </ul>
                    <li><a href="#">Blog <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                    <ul class="list-unstyled py-3">
                        <li class="">
                            <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                    </ul>
                    <li><a href="#">Elements <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                    <ul class="list-unstyled py-3">
                        <li class="">
                            <a class="px-3" href="#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                        <li class="">
                            <a class="px-3" href="#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                        </li>
                        <ul class="list-unstyled py-3">
                            <li class=""><a class="px-3" href="">Product Types 1</a></li>
                            <li class=""><a class="px-3" href="">Product Types 2</a></li>
                            <li class=""><a class="px-3" href="">Product Types 3</a></li>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>

    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>CUSTOMER SERVICE</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Help & Contact Us</a></li>
                            <li><a class="text-black-50" href="">Returns & Refunds</a></li>
                            <li><a class="text-black-50" href="">Online Stores</a></li>
                            <li><a class="text-black-50" href="">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>COMPANY</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">About Us</a></li>
                            <li><a class="text-black-50" href="">Blog</a></li>
                            <li><a class="text-black-50" href="">Order Tracking</a></li>
                            <li><a class="text-black-50" href="">FAQ Page</a></li>
                            <li><a class="text-black-50" href="">Contact Us</a></li>
                            <li><a class="text-black-50" href="">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>SOCIAL MEDIA</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Twitter</a></li>
                            <li><a class="text-black-50" href="">Instagram</a></li>
                            <li><a class="text-black-50" href="">Tumblr</a></li>
                            <li><a class="text-black-50" href="">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="item">
                        <h6>ARCHIVE</h6>
                        <ul class="list-unstyled mt-4">
                            <li><a class="text-black-50" href="">Designer Shoes</a></li>
                            <li><a class="text-black-50" href="">Gallery</a></li>
                            <li><a class="text-black-50" href="">Pricing</a></li>
                            <li><a class="text-black-50" href="">Feature Index</a></li>
                            <li><a class="text-black-50" href="">Login</a></li>
                            <li><a class="text-black-50" href="">Help & Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row py-2">
                <div class=" col-lg-4 text-center text-lg-left">
                    <p class="text-black-50">
                        Powered by <a class="author text-muted"
                                      href="https://www.bakhtiyar.az">Bakhtiyar Shamilzada</a> 2020
                    </p>
                </div>
                <div class=" col-lg-4 text-center">
                    <img src="~/img/footer-bottom-1.png" class="fluid" alt="">
                </div>
                <div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
                    <a class="text-black-50 mr-5"
                       href="https://www.linkedin.com/in/bakhtiyar-shamilzada-145159185/">LINKEDIN</a>
                    <a class="text-black-50" href="https://www.facebook.com/shamilzada.bakhtiyar">FACEBOOK</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER END -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e5e249fce2.js" crossorigin="anonymous"></script>
    <script src="~/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>