@model IEnumerable<Product>
@foreach (var pr in Model)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center">
            <div class="img">
                <a asp-action="Detail" asp-route-id="@pr.Id">
                    <img src="~/img/@pr.Images.Where(p => p.IsMain == true).FirstOrDefault().Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>@pr.Name</h6>
            </div>
            <div class="price">
                <span class="text-black-50">Add to cart</span>
                <span class="text-black-50">$@pr.Price</span>
            </div>
        </div>
    </div>
}